game.json
[
    {
        "id": "0915bb9e705724c5",
        "type": "tab",
        "label": "game",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46905767e7138170",
        "type": "mysql",
        "z": "0915bb9e705724c5",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "4b9b45a41b19241a"
            ]
        ]
    },
    {
        "id": "ddb07e10ab438f91",
        "type": "debug",
        "z": "0915bb9e705724c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "4b9b45a41b19241a",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "msg.payload = \n{\n    // Winer1: msg.payload[0].idClients,\n    // Result1: msg.payload[0].result,\n    // Winer2: msg.payload[1].idClients,\n    // Result2: msg.payload[1].result,\n    // Winer3: msg.payload[2].idClients,\n    // Result3: msg.payload[2].result\n    \n    Winer1: msg.payload[0].client_id,\n    Result1: msg.payload[0].result,\n    Winer2: msg.payload[1].client_id,\n    Result2: msg.payload[1].result,\n    Winer3: msg.payload[2].client_id,\n    Result3: msg.payload[2].result\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "ddb07e10ab438f91",
                "707823840d5fd2d4",
                "24bfb822195f94cf",
                "212c7f7afe68e1cb",
                "1cf1f473590a479f"
            ]
        ]
    },
    {
        "id": "07281fa7adacabf7",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "msg.topic = 'INSERT INTO `game`.`clients`(`client_id`,`random_shakes`,`client_shakes`)VALUES(\\\"'+msg.payload.client_id+'\\\",'+msg.payload.random_shakes+','+msg.payload.client_shakes+');';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 760,
        "wires": [
            [
                "beffba5526c0fde6"
            ]
        ]
    },
    {
        "id": "9b6c4d1c311b2ea7",
        "type": "mqtt in",
        "z": "0915bb9e705724c5",
        "name": "",
        "topic": "Game",
        "qos": "0",
        "datatype": "auto",
        "broker": "152e1e6d744154b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "d7bb911f3c4fd27d"
            ]
        ]
    },
    {
        "id": "beffba5526c0fde6",
        "type": "mysql",
        "z": "0915bb9e705724c5",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 480,
        "y": 820,
        "wires": [
            [
                "1c5cbcd4e6a33e30"
            ]
        ]
    },
    {
        "id": "1c5cbcd4e6a33e30",
        "type": "debug",
        "z": "0915bb9e705724c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "58a5ddd2e614e152",
        "type": "comment",
        "z": "0915bb9e705724c5",
        "name": "who wins?",
        "info": "",
        "x": 80,
        "y": 320,
        "wires": []
    },
    {
        "id": "1698b55691a59740",
        "type": "comment",
        "z": "0915bb9e705724c5",
        "name": "inject data to database",
        "info": "",
        "x": 160,
        "y": 760,
        "wires": []
    },
    {
        "id": "dbec73c087100e52",
        "type": "inject",
        "z": "0915bb9e705724c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE IF EXISTS clients;",
        "payloadType": "date",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "663b02e9d6e01563"
            ]
        ]
    },
    {
        "id": "663b02e9d6e01563",
        "type": "mysql",
        "z": "0915bb9e705724c5",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "a92676c36233948e"
            ]
        ]
    },
    {
        "id": "9dbb1b77c6c9692d",
        "type": "mysql",
        "z": "0915bb9e705724c5",
        "mydb": "7d26250c030727c3",
        "name": "",
        "x": 780,
        "y": 60,
        "wires": [
            [
                "3e77b14fc1aca162"
            ]
        ]
    },
    {
        "id": "3e77b14fc1aca162",
        "type": "debug",
        "z": "0915bb9e705724c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "6b3f53e14d8ce6a4",
        "type": "comment",
        "z": "0915bb9e705724c5",
        "name": "Start game and xcreate table with attibutes",
        "info": "",
        "x": 200,
        "y": 20,
        "wires": []
    },
    {
        "id": "d7bb911f3c4fd27d",
        "type": "json",
        "z": "0915bb9e705724c5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "07281fa7adacabf7"
            ]
        ]
    },
    {
        "id": "707823840d5fd2d4",
        "type": "ui_text",
        "z": "0915bb9e705724c5",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 1",
        "format": "{{msg.payload.Winer1}}",
        "layout": "row-spread",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2573b38bc2e5a3c",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "if(msg.payload == \"showresult\")\n{\n//   msg.topic = \"SELECT idClients,         SQRT(SUM(x*x+y*y+z*z)) AS result FROM game.clients GROUP BY idClients ORDER BY result DESC;\"\n  msg.topic = 'SELECT client_id, MIN(difference) AS result FROM game.clients GROUP BY client_id ORDER BY result ;';\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "46905767e7138170"
            ]
        ]
    },
    {
        "id": "d1699fe14220a316",
        "type": "ui_button",
        "z": "0915bb9e705724c5",
        "name": "",
        "group": "07f33f61fa494e79",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show results",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "197438cee04965c5",
                "2607da08267ddc3c"
            ]
        ]
    },
    {
        "id": "24bfb822195f94cf",
        "type": "ui_text",
        "z": "0915bb9e705724c5",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 2",
        "format": "{{msg.payload.Winer2}}",
        "layout": "row-spread",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "212c7f7afe68e1cb",
        "type": "mqtt out",
        "z": "0915bb9e705724c5",
        "name": "",
        "topic": "Result",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "152e1e6d744154b7",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "366ee2e4691a62ba",
        "type": "mqtt in",
        "z": "0915bb9e705724c5",
        "name": "",
        "topic": "showresult",
        "qos": "2",
        "datatype": "auto",
        "broker": "152e1e6d744154b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 460,
        "wires": [
            [
                "a2573b38bc2e5a3c"
            ]
        ]
    },
    {
        "id": "197438cee04965c5",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "// msg.topic = \"SELECT idClients,         SUM(x*x+y*y+z*z) AS result FROM game.clients GROUP BY idClients ORDER BY result DESC;\"\nmsg.topic = \"SELECT client_id, MIN(difference) AS result FROM game.clients GROUP BY client_id ORDER BY result WHERE TABLE_SCHEMA = 'game' AND TABLE_NAME = 'clients' AND COLUMN_NAME = 'difference';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "46905767e7138170"
            ]
        ]
    },
    {
        "id": "a92676c36233948e",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "// msg.topic = \"CREATE TABLE `game`.`clients` (   `idclients` VARCHAR(45) NULL,   `x` VARCHAR(45) NULL,   `y` VARCHAR(45) NULL,   `z` VARCHAR(45) NULL);INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (1,0,0,0); INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (2,0,0,0);INSERT INTO `game`.`clients` (`idclients`, `x`, `y`, `z`) VALUES (3,0,0,0);\";\n// msg.topic = \"ALTER TABLE clients ADD COLUMN IF NOT EXISTS current_points int GENERATED ALWAYS AS (case when difference = 0 then 10 when difference = 1 then 7 when difference = 2 then 5 else 0 end ) STORED;\"\nmsg.topic = \"CREATE TABLE IF NOT EXISTS clients (client_id VARCHAR(45), random_shakes int NOT NULL, client_shakes int NOT NULL, difference int AS (random_shakes - client_shakes));\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "9dbb1b77c6c9692d"
            ]
        ]
    },
    {
        "id": "1cf1f473590a479f",
        "type": "ui_text",
        "z": "0915bb9e705724c5",
        "group": "07f33f61fa494e79",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Winner 3",
        "format": "{{msg.payload.Winer3}}",
        "layout": "row-spread",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "fbe87c7f2ce8f6b9",
        "type": "ui_button",
        "z": "0915bb9e705724c5",
        "name": "",
        "group": "07f33f61fa494e79",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "79dae7125ad8598d",
                "4dead7b7e591194f"
            ]
        ]
    },
    {
        "id": "79dae7125ad8598d",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "msg.topic= \"DROP TABLE IF EXISTS clients;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "663b02e9d6e01563"
            ]
        ]
    },
    {
        "id": "05c66eda487492f4",
        "type": "ui_template",
        "z": "0915bb9e705724c5",
        "group": "07f33f61fa494e79",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2607da08267ddc3c",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "msg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "05c66eda487492f4"
            ]
        ]
    },
    {
        "id": "4dead7b7e591194f",
        "type": "function",
        "z": "0915bb9e705724c5",
        "name": "",
        "func": "msg.payload=\"New game started!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "05c66eda487492f4"
            ]
        ]
    },
    {
        "id": "7d26250c030727c3",
        "type": "MySQLdatabase",
        "name": "game",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "game",
        "tz": "",
        "charset": "utf8mb4"
    },
    {
        "id": "152e1e6d744154b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "07f33f61fa494e79",
        "type": "ui_group",
        "name": "game",
        "tab": "d5a2f3f13afaea76",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5a2f3f13afaea76",
        "type": "ui_tab",
        "name": "IOT Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]